
.submit {

    margin-top: 20px;
    color:white;
    width: 180px;

}

.nidhog {


margin:120px 410px;

}

.fenrir {

float:right;
margin: 270px 450px 400px 380px;
}

.timeholder {

float:right;
margin: 70px 350px;

}

.kades {


margin:150px 510px;

}

h1, h2 {

    color:white;
    letter-spacing: 1px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  z-index: -1;


}

body {

    max-height: 80%;

}
.styleform {
    display: flex!important;
    flex-direction: column;
    align-items: center;
    color: #fff;
    max-width: 400px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);


}

.flexcon {
    position: absolute!important;
    top: 40%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    }

input {

    margin-bottom: 20px;
    margin-top: 20px;
    background: transparent;

    padding: 10px;
    font-size: 13px;
    border-radius: 30px;

    color: white!important;
    text-align: center;


}


    .dropdown-menu {
            width:100%;
            text-align: center;
        }



        @media (max-width: 480px) {

        form, input {
            font-size: 23px;
                    }

        form {

            margin-top: 100px;

        }



        }


