#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.styleform {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    max-width: 400px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0);


}

input {

    margin-bottom: 20px;
    margin-top: 20px;
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 13px;
    border-radius: 30px;
    box-shadow: 0 0 4px #fff;
    color: white!important;
    text-align: center;


}

.submit {

    margin-top: 20px;
    color:white;
    width: 180px;

}


.container {
    position: absolute!important;
    top: 40%!important;
    left: 50%!important;
    transform: translate(-50%, -50%)!important;
    }

h1, h2 {

    color:white;
    letter-spacing: 1px;
}

body {

color:white;

}

.nidhog {


margin:120px 410px;

}

.fenrir {

float:right;
margin: 270px 450px 400px 380px;
}

.timeholder {

float:right;
margin: 70px 350px;

}

.kades {


margin:150px 510px;

}

.notlogged {

    float:right;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

.log {

float: right;
margin-right: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
}